/*GLOBAL STYLES*/

:root{
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

}

/* MESSAGE CONTAINER*/

.message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;

}


/* LOADING SPINNER */

.loading-spinner{
    border: 8px solid #f3f3f3;
    border-top: 8px solid turquoise;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: 2rem auto;
    position: relative;
    
}
@keyframes spin{
    to {transform: rotate(360deg);}
}

/* APP HEADER */

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: turquoise;
    height: 6.25rem;
    width: 100%;


}

.app-title{
    font-size: 5rem;
    color:white;
    
}

.podcast-icon{
    width: 3.125rem;
    height: 3.125rem;

}

/* PODCAST GRID*/


.podcast-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.875rem;
    width: 100%;
    padding: 1.5625rem

}
/* PODCAST CARD*/


.podcast-card{
    height: auto;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .9375rem;
    border-radius: 10%;
}

.podcast-title{
    font-size: 1.5rem;
}

.podcast-image{
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 11%;
    
}

.podcast-genres{
    display: flex;
    gap: .625rem;
    flex-wrap: wrap;

}

.podcast-genre{
    background-color: white;
    padding: .3125rem;
    border-radius: 5%;
    margin: .3125rem;
    font-weight: bold

}

.genres-list{
    margin: 0;
}



/*RESPONSIVE DESIGN*/

@media (max-width: 48rem){
    .podcast-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 26.5625rem){
    .podcast-grid{
        grid-template-columns: 1fr;
    }
}

.app-title{
    font-size: 3rem;
}